.merriweather-regular {
    
    font-style: normal;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", serif;
    font-weight: 500;
    user-select: none;
    scroll-behavior: smooth;
    overflow: hidden;
}
.container {
    display: flex;
    height: calc(100vh+1px);
}
.content {
    display: flex; /* Use flexbox */
}

.cont {
    flex:1; /* Take remaining space */
    background-color: #57CC99;
    display: flex; /* Use flexbox */
    flex-direction: column;
    justify-content: center; /* Center children horizontally */
    align-items:center; /* Center children vertically */
    height: 100%;
    width: 60vw;
    outline: 1px solid #22577A;
}

.cont > * {
    margin: 4vh 0; /* Add some vertical spacing between elements */
}


.sklep{
    width: 30vw;
    height: 100vh;
    background-color: #38A3A5;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    cursor: pointer;
}
#click{
    width: 161.80px;
    height: 100px;
    text-decoration: none; 
    border: none; 
    padding: 12px 40px; 
    font-size: 25px; 
    background-color: #C7F9CC; 
    border-radius: 5px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    transition: 0.2s all;
}
#click:hover{
    background-color: greenyellow;
    cursor: pointer;
}
#click:active    { 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    transform:scale(0.8) ;
} 
#reset{
    /* margin-top: 15vh; */
    width: 161.80px;
    height: 100px;
    text-decoration: none; 
    border: none; 
    padding: 12px 40px; 
    font-size: 25px; 
    background-color: #80ED99; 
    border-radius: 5px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    transition: 0.2s all;
}
#reset:hover{
    background-color: greenyellow;
    cursor: pointer;
}
#reset:active    { 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    transform:scale(0.95) ;
}

.txt{
    text-align: center;
    font-size: 35px;
}
.txtsk{
    font-size: 24px;
    line-height: 1.7;
}
@media (max-width: 768px) {
    .txtsk {
        line-height: 1;
        font-size: 16px;
    }
}
@media (max-width: 1600px){
    .txtsk{
        font-size: 20px;
    }
}
@media (max-width: 1100px){
    .txtsk{
        font-size: 16px;
    }
}
.panel{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid #22577A;
}
.panel:hover{
    background-color: #C7F9CC;
}
.panel:active{
    background-color: #80ED99;
}
.panel > :nth-child(1) {
    margin-left: 2%;
}

.panel > :nth-child(n + 2) {
    margin-left: auto; /* Push second and third elements to the right */
}

.panel > :nth-child(3) {
    margin-left: 0; /* Remove margin between second and third elements */
}


img{
    width: 130px;
    height: 10vh;
    display: block;
}
.popup{
    text-align: center;
    /* margin-top: 10vh; */
}
@keyframes fadeAway {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
        content: '';
    }
}
.ile{
    display: flex; 
    align-items:center;
    font-size: 24px;
    background-color: #57CC99;
    padding:0 30px;
    width: 80px;
    height: 10vh;
    outline: 1px solid #22577A;

}
#ascendbut{
    visibility:hidden;
    width: 161.80px;
    height: 100px;
    text-decoration: none; 
    border: none; 
    padding: 12px 40px; 
    font-size: 25px; 
    background-color: #C7F9CC; 
    border-radius: 5px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    transition: 0.2s all;
}
#ascendbut:hover{
    background-color: greenyellow;
    cursor: pointer;
}
#ascendbut:active    { 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    transform:scale(0.8) ;
}

.ascend_bar{
    width: 100%;
    height: 0.5%;
    max-height: 95%;
    background-color: rgb(98, 210, 210);
    transition: height 1s; 
    position: absolute;
}
.leftbar span:nth-of-type(1){
    position: absolute;
    top: 0;
    z-index: 1;
}
.leftbar span{
    color: rgb(220, 165, 1);
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
.leftbar {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 100vh;
    background-color: #22577A;
    justify-content: flex-end; /* Align items to the bottom */
    position: relative;
    font-size: 18px;
}
#insidepercent{
    color: #153448;
}

